.hero-remedy-details {
    max-width: 75%;
    position: relative;
    flex-direction: column;
    display: flex;

    @include phone {
        max-width: 100%;
    }

    &__title {
        align-self: flex-end;
        text-align: right;
        white-space: nowrap;

        @include desktop {
            display: none;
        }
    }
}

.remedy-details-hero {
    
    &__left {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        @include phone {
            .attributes {
                display: none;
            }
        }
    }
    &__right {
        @include desktop {
            align-items: flex-start;
            justify-content: flex-start;
            padding: 3.5rem;
        }
        @include ipad-pro-portrait {
            align-items: space-around;
            justify-content: flex-start;
            padding: 10rem 3.5rem 3.5rem 3.5rem;

            .attributes-box {
                max-width: 55rem;
            }
        }
        @include phone {
            .attributes-box {
                display: none;
            }
        }
    }
}

.certification {
    display: flex;
    padding-top: 8rem;
    @include phone-short {
        display: none;
    }
    @include desktop-small {
        display: none;
    }
    &__item {
        height: 6rem;
        width: 6rem;
        background-color: white;

        &:not(:last-of-type) {
            margin-right: 2rem;
        }
    }
}