.faq {
    display: flex;
    flex-direction: column;
    
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10rem;

        @include phone {
            flex-direction: column;
        }
    }

    &__paragraph {
        max-width: 45rem;
    }

    &__content {
        @include phone {
            margin-bottom: 5rem;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex: 0 50%;
            @include desktop {
                flex: 0 100%;
            }
        }
    }

    &__filter {
        min-width: 20rem;
        border: 2px solid black !important;
        border-radius: 0 !important;
    }

    .blog-card {
        margin: 0;
        margin-bottom: 4rem;

        
        &__image {
            flex: 0 40%;
            @include phone {
                flex: unset;
            }
        }
        &__content {
            flex: 0 60%;
            @include phone {
                padding: 3rem 1rem;
            }
        }
        &:first-of-type {
            margin: 0;
            margin-bottom: 5rem;
        }
    }


}

.faq-accordion {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    &__item {
        margin-bottom: 5rem;
    }
    &__panel {
        padding: 5rem;
    }
    &__title {
        padding: 3.5rem;
        background-color: $color-brand-light;

    }
}