.terms {
    padding: 15rem 0;
    padding-bottom: 7.5rem;
    display: flex;

    @include phone {
        flex-direction: column;
    }
    
    &__wrapper {
        width: 100%;
        max-width: 80%;
        margin: 0 auto;

        @include tablet {
            max-width: 100%;
        }
    }

}
