.header {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10000000;
    &__logo-wrapper {
        max-width: 22rem;
    }

    &__logo {
        width: 100%;
        &--white {
            display: none;
        }
    }

    &__navigation {
        
        flex: 1 1 50%;
        @include align-center-justify-flex-end;
        padding: 0 2.5rem;

        @include tablet {
            display: none;
        }

        @include phone-landscape {
            display: none;
        }


        &--mobile {
            
            display: none;

            @include tablet {
                @include align-center-justify-flex-end;
                padding: 0 2.5rem;

                .header__icon {
                    font-size: 2.8rem;
                }
            }

            @include phone-landscape {
                @include align-center-justify-flex-end;
                padding: 0 2.5rem;
            }

        }
        &-close {
            display: none;
        }
    }

    &__links {
        margin-right: 3rem;
    }

    &__link {
        margin: 0 2rem;
        font-weight: 700;
    }

    &__icon {
        font-size: 1.8rem;
        margin: 0 1rem;
    }

    &--light {
        // .header__link {
        //     color: $color-white !important;
        // }
        // .header__icon > path {
        //     color: $color-white !important;

        //     @include phone {
        //         color: black !important;
        //     }
        // }
    }

}