.background-section {
    height: 80vh;
    padding: 0;
    background-position: center;
    background-size: cover;
    margin-bottom: 12rem;
    position: relative;

    &::before { 
        display: none;

        @include phone {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            opacity: .3;
            z-index: 0;
        }
    }

    &__container {
        z-index: 1;
    }

    @include desktop {
        height: 60vh;
    }

    @include phone {
        height: 50vh;
    }

    &__title {
        @include phone {
            margin-bottom: 5rem;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        justify-content: flex-end;
        align-items: center;
        padding: 10rem 10rem 10rem 10rem;
        z-index: 3;

        @include desktop {
            padding-bottom: 10rem;
        }

        @include phone {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    &__details {
        max-width: 35rem;

        @include phone {
            margin-bottom: 5rem;
        }
    }

}