.box-title {

    width: 100%;
    padding: 3rem 0;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto 4rem auto;
    border: 2px solid $color-brand;
    text-transform: capitalize;
    
    display: flex;
    white-space: nowrap;

    &__title {
        color: $color-brand;
    }

    @include tablet {
        max-width: 85%;
    }
}