.dual-cards {
    padding-bottom: 20rem;
    @include tablet {
        padding-bottom: 12rem;
    }
    @include tablet {
        &__card {
            margin-bottom: 4rem;
            padding: 0;
        }
    }
    @include desktop-above {
        &__card {
            &:first-child {
                padding-right: 2rem;
            }
            &:last-child {
                padding-left: 2rem;
            }
        }
    }
}