.split-hero {
    display: flex;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: .8s opacity ease;

    @include phone-landscape {
        height: auto;
    }
    @include desktop {
        flex-direction: column;
    }

    &__left {
        flex: 1 1 50%;
        min-height: 50vh;
        position: relative;

        @include desktop {
            flex: 1 1 50%;
        }
    }
    &__right {
        flex: 1 1 50%;
        @include desktop {
            flex: 1 1 50%;
        }
        @include phone-landscape {
            flex: 1 1 50%;
        }
    }
}