a {
    text-decoration: none;
    color: $color-black;
}

.heading-1 {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 9.5rem;
    letter-spacing: 4px;
    line-height: 10.6rem;

    @include phone {
        line-height: calc(100vh / 11);
        font-size: calc(100vh / 12);
    }
}

.heading-2 {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.3rem;
    letter-spacing: 2px;
    line-height: 5.1rem;
}

.heading-3 {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 3.6rem;
}

.heading-4 {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    line-height: 3.8rem;
}
.heading-5 {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 2.7rem;
}

.heading-6 {
    font-family: muli, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    line-height: 1.8rem;
}

.heading-6--caps {
    font-family: muli, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    line-height: 1.8rem;
}

.paragraph {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    letter-spacing: .5px;
    line-height: 2.3rem;
}

.paragraph--small {
    font-family: muli, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .5px;
    line-height: 1.8rem;
}

.paragraph--small-underlined {
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .5px;
    line-height: 1.4rem;
    text-decoration: underline;
}