<!-- /templates/page.contact.liquid -->

<div class="page-container page-contact" style="opacity: 1">
	<div class="split-hero">
		<div class="split-hero__left">
			<div
				class="hero-background"
				style="background-image: url({{ 'guybehindleaf.png' | asset_url }})"
			></div>
		</div>
		<div class="split-hero__right">
			<div class="contact-form">
				<div class="contact-form__form">
					<h1 class="contact-form__title heading-1 mb-xxl">Contact</h1>
					<div class="contact-form__fields">
						<div class="input input__field-wrapper contact-form__field mb-lg">
							<input class="input__field" type="text" placeholder="Name" value="" />
						</div>
						<div class="input input__field-wrapper contact-form__field mb-lg">
							<input class="input__field" type="text" placeholder="Email" value="" />
						</div>
						<div class="input input__field-wrapper contact-form__field mb-lg">
							<input class="input__field" type="text" placeholder="Subject" value="" />
						</div>
						<div class="input input__field-wrapper contact-form__field mb-lg">
							<textarea
								class="input__field"
								rows="8"
								type="textarea"
								placeholder="Message"
							></textarea>
						</div>
						<button type="button" class="btn btn-primary heading-6 undefined">
							Send
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
