
@mixin phone {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin phone-short {
  @media (max-width: #{$breakpoint-sm}) and (max-height: 735px) {
    @content;
  }
}

@mixin phone-landscape {
  @media (max-width: #{$breakpoint-lg}) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin desktop-below {
  @media (max-width: #{$breakpoint-lg - 1}) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin desktop-above {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: #{$breakpoint-lg + 1}) and (max-width: #{$breakpoint-xxl}) {
    @content;
  }
}

@mixin large-desktop {
  @media (max-width: #{$breakpoint-xl}) {
    @content;
  }
}

/* Landscape*/
@mixin ipad-pro-landscape {
  @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    @content;
  }
}

/* Portrait*/
@mixin ipad-pro-portrait {
  @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    @content;
  }
}


@mixin align-center-justify-flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
