// Colors
$color-brand-light: #E2f7f4;
$color-brand: #63d6c5;
$color-brand-dark: #5e9c9f;
$color-brand-deep: #222d2d;

$color-grey-medium: #747070;
$color-grey-light: #f7f7f7;
$color-black: #262b2a;
$color-white: #ffffff;

$color-primary: #3b284f;
$color-secondary: #285143;
$color-tertiary: #4c2742;

$color-primary-light: #e5e1ea;
$color-secondary-light: #eff4f4;
$color-tertiary-light: #f2edf2;

$color-primary-dark: #21182b;
$color-secondary-dark: #192d21;
$color-tertiary-dark: #21182b;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1280px;

$container-width: $breakpoint-xl;

$section-padding: 20rem;
$section-blue-bar-content-padding: 15rem;

$margin-xxl: 5rem;
$margin-xl: 2.2rem;
$margin-lg: 1.8rem;
$margin-md: 1.2rem;
$margin-sm: .8rem;
$margin-xs: .4rem;
